# Os arquivos desse projeto são extraídos de : 

https://www.kaggle.com/datasets/ricardotachinardi/ifood-restaurants-data

Abaixo temos os comandos utilizados para transferir o arquivo csv para o Postgres

In [ ]:
COPY projeto.ifood
FROM 'ifood-restaurants-february-2021.csv'
DELIMITER ';'
CSV HEADER

# Importando Bibliotecas Necessárias

In [2]:
from pandasql import PandaSQL
import pandas as pd
import psycopg2 
from sqlalchemy import create_engine

In [30]:
# Criando Schema, tabela e adicionando os valores a partir do CSV
# Usando a conexão por cursor nos permite alterar o Banco de dados
conexao = psycopg2.connect(
    database = "modulo_3",
    host = "localhost",
    user ="postgres",
    password ="123456",
    port ="5432"

)

cursor = conexao.cursor()

# cursor.execute('CREATE SCHEMA projeto')
# conexao.commit()
# cursor.execute(
# """
# CREATE TABLE projeto.ifood(
#     availableForScheduling BOOL,
#     avatar TEXT,
#     category VARCHAR(30),
#     delivery_fee FLOAT,
#     delivery_time INTEGER,
#     distance FLOAT,
# 	  ibge INTEGER,
#     minimumOrderValue FLOAT,
#     name_ TEXT,
#     paymentCodes TEXT,
#     price_range VARCHAR(30),
#     rating FLOAT,
#     tags TEXT,
#     url_ TEXT                       
# )                    
# """
# )

# conexao.commit()

cursor.execute(
"""
COPY public.ifood
FROM 'C:\\Users\\leoju\\Downloads\\ifood-restaurants-february-2021.csv'
DELIMITER ','
CSV HEADER

"""

)
cursor.commit()

conexao.close()

UndefinedFile: ERRO:  não pôde abrir arquivo ""C:\Users\Public\Documents\ifood-restaurants-february-2021.csv"" para leitura: No such file or directory
HINT:  COPY FROM instructs the PostgreSQL server process to read a file. You may want a client-side facility such as psql's \copy.

In [4]:
# Estabelecendo conexão para querys 
# Usando esse método ao invés do cursor podemos fazer consultas diretamente ao banco, sem precisar ter os dados em memória
pd_sql = PandaSQL()

SGBD = "postgresql+psycopg2"
USER = "postgres"
SENHA = "123456"
HOST = "localhost"  
DATABASE = "modulo_3"
PORT = 5432
conexao_string = f"host={HOST} port={PORT} dbname={DATABASE} user={USER} password={SENHA}"

conexao = psycopg2.connect(conexao_string)
query = "select * from ada_teste.alunos"
pd.read_sql_query(query,con=conexao)

C:\Users\leoju\AppData\Local\Temp\ipykernel_18916\1668934161.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=conexao)

,id_aluno,id_cidade,cpf,primeiro_nome,ultimo_nome,data_ingresso,endereco,numero,telefone_a,telefone_b
0,1,1,68740550196,abelar,henrique,2023-03-05,Rua da Penha,3300,866862753,274845545
1,2,1,34146481132,adriano,gambetta,2023-03-06,Rua Henrique Soares,7118,273807947,0
2,3,1,12728282203,amanda,moulin,2023-03-07,Rua Leodécio Santiago de Souza,6082,872235320,911955261
3,4,1,43764914607,álvaro,fonseca,2023-03-08,Rua Pitica,7924,938535574,262020598
4,5,2,23228327392,andre,melchior,2023-03-09,Rua Camilo Paula,4160,189494206,323561018
5,6,2,76360071693,antonio,zanutto,2023-03-10,1ª Travessa São Francisco,8932,379611062,919134470
6,7,2,66346021768,carolina,yumi,2023-03-11,Quadra SHPS Quadra 603 Conjunto 96A,5733,422505705,0
7,8,2,05494797137,christyan,costa,2023-03-12,Quadra 504 Sul Alameda 11,8070,845459713,615675266
8,9,3,19363011240,claudia,cavalcante,2023-03-13,Rua Em Projeto M,8833,202878321,603379305
9,10,3,05990749922,cristiane,nunes,2023-03-14,Travessa Júlio Veiga Mendes,9279,708729599,0
10,11,3,51271170337,danilo,nozima,2023-03-15,Rua dois,3556,374388553,328960508
11,12,3,18959848666,diego,rodrigues,2023-03-16,Rua três,1433,470084815,443097717
12,13,4,07562543599,emanuelle,lemos,2023-03-17,Rua principal,4977,326789195,0
13,14,4,76429831566,gabriel,mourão,2023-03-18,Rua São josé,4900,478176185,573145168
14,15,4,91204465504,haroldo,silva,2023-03-19,Rua santo antonio,6988,576548312,301677712
15,16,1,32755896447,henrique,guerrero,2023-03-20,Avenida brasil,8529,639795496,0
16,17,1,64634936082,hevans,pereira,2023-03-21,Avenida Brasil,4540,263674118,384972402
17,18,1,55207096189,isabela,bueno,2023-03-22,Avenida Brasilia,1185,740040561,230351268
18,19,1,02456915690,kelvel,pichinini,2023-03-23,Rua são paulo,9470,538617705,0
19,20,5,51865906231,lucas,voltolini,2023-03-24,Rua são paulo,3800,613900746,909322964
20,21,6,20671422357,janaina,delgado,2023-03-25,Rua teobaldo,9317,789048901,885432495
21,22,6,87486965183,manuel,castro,2023-03-26,rua kletemberg,582,400549536,7115358
22,23,7,46927680338,marcio,magrini,2023-03-27,rua barão tinta branca,239,466204695,23079842
23,24,7,17412432561,michel,solza,2023-03-28,tua baraão tinha uva,8347,827235134,314861183
24,25,7,18167196135,mike,pessanha,2023-03-29,rua quinze,8463,105333699,168590669
25,26,8,45506365798,paula,ribeiro,2023-03-30,rua são francisco,6572,819037434,0
26,27,8,11423428746,paula,ribeiro,2023-03-31,rua sete de setembro,4218,730517155,0
27,28,8,93775321419,rafael,ribeiro,2023-04-01,rua 5 de março,6945,238525722,0
28,29,9,39906836380,raphael,morgado,2023-04-02,rua 3 de abril,9971,451487680,136366233
29,30,9,71047684176,renato,massamitsu,2023-04-03,rua São chico rico,2916,982133571,809927358
30,31,10,80872347461,roulien,roland,2023-04-04,rua de são tadeu,6885,239426075,0
31,32,10,20499652769,thaís,falcão,2023-04-05,avenida do sucesso,2050,169539037,994288632
32,33,11,63536060421,vitor,cavalcanti,2023-04-06,travessa da maria mariana,6609,587521150,54414341
33,34,11,43318780907,william,james,2023-04-07,rua da alegria,4573,535403160,596292484